#main {
  position:fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;
  
  1background: lightblue;
}


#BG_picture {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100vw;
  1height: 100vh;
  z-index: -4;
}

.JUMP {
  position: fixed;
  width: 20vw;
  height: 20vw;
  1border-radius: 50%;
}

#Daily {
  background: blue;
  top: 10vh;
  left: 10vw;
}

#Daily_bg {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}

#Flooding {
  background: green;
  top: 25vh;
  left: 20vw;
}

#Flooding_bg {
  position: relative;
  width: 100%;
  top: 25vh;
  left: 20vw;
}

#Record {
  background: yellow;
  top: 40vh;
  left: 30vw;
}

#Record_bg {
  position: relative;
  width: 100%;
  top: 40vh;
  left: 30vw;
}

#AboutUS {
  1background: orange;
  bottom: 20vh;
  left: 10vw;
}

#AboutUS_bg {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}

#Setup {
  background: purple;
  top: 70vh;
  left: 50vw;
}

#Setup_bg {
  position: relative;
  width: 100%;
  top: 70vh;
  left: 50vw;
}
