/*tmplate*/

.board_default {
    position : relative ;
    border : 2px solid #999 ;
    border-radius : 7vh ;
    background-color : rgba(255,255,255,0.75) ;
}

.std_but{
    position : absolute ;
    display : block ;
    width: 18vh;
    height: 8vh;
    border-radius : 5vh ;
    outline : none ;
    cursor : pointer ;
    border: 2px solid #999 ;
    background-color : rgba(255, 255, 255 , 0.6) ;
}


/*setting*/
* {
    box-sizing : border-box ;
}

html {
	font-size:16px ;
}

body {
    background-image : url('./../Picture/bg.svg') ;
    background-repeat : no-repeat ;
    background-size : cover ;
}

body div {
    position : relative ;
    text-align : center ;
}

#arrow {
    position : absolute ;
    width : 3vh ;
    top : 4vh ;
    left : 4vh ;
}

#show_text {
    position : absolute ;
    left : 50% ;
    transform : translateX(-50%) ;
    top : 20vh ;
    height : 20vh ;
    width :100% ;
    text-align : center ;
    color : white ;
    opacity : 0 ;
}

#show_text > h2 {
    width : 100% ;
}



#title > span{
    position : relative ;
    border : 0px solid #999 ;
    border-radius : 5vh ;
    background-color : rgba(255,255,255,0.85) ;
    
    display : inline-block ;
    text-align: center;
    margin-top : 5vh ;
    width : 20vh ;  
    font-size: 1.6rem ;
}

#whale_container {
    display: inline-block ;
    width: 45vh;
    height :45vh ;
    top : 20vh ;
}

#whale_container > button {
    bottom : 5vh ;
	left: 50% ;
	transform : translateX(-50%) ;
}

.whale {
     display: inline-block;
     position : absolute  ;
     bottom : 40% ;
     transform : translateX(-50%) ;
     width : 80% ;
}

.board {
    position : absolute ;
    left:50% ;
    top : 4vh ; 
    transform: translateX(-50%) ;
    display: flex ;
    flex-direction : column ;
    
    width : 40vh ;
    height : 34vh ;
    background-color : rgb(255,255,255) ;
    visibility : hidden ;
}

.board > div:first-of-type {
    top : 1vh ;
    height : 15% ;
}

.board > div:nth-of-type(2) {
    height : 55% ;
}

.board > div:last-of-type {
    height : 30% ;
}

.board > div:first-of-type span {
    font-size : 1.5rem ;
}

.drip {
    position:absolute ;
    display : inline-block ;
    width : 7vh ;
    height : 9vh ;
    top : 4vh ;
    outline : none ;
    border : 0px solid red ;
}

#b1 {
    left:25% ;
    transform :translateX(-60%) ;
    background-color : rgba(255 , 255 , 255 , 0 ) ;
    background-image:url("./../Picture/drip_none.svg") ;
    background-size : auto , cover ;
    background-repeat : no-repeat ;
    background-position: center ;
}
#b2 {
    left:50% ;
    transform :translateX(-50%) ;
    background-color : rgba(255 , 255 , 255 , 0 ) ;
    background-image:url("./../Picture/drip_half.svg") ;
    background-size : auto , cover ;
    background-repeat : no-repeat ;
    background-position: center ;
}
#b3 {
    left:75% ;
    transform :translateX(-40%) ;
    background-color : rgba(255 , 255 , 255 , 0 ) ;
    background-image:url("./../Picture/drip_full.svg") ;
    background-size : auto , cover ;
    background-repeat : no-repeat ;
    background-position: center ;
}

.drip > span {
    position : absolute ;
    font-size: 1rem ;
	left : 50% ;
	transform : translateX(-50%) ;
    top : 105% ;
}

.check {
    display : inline-block ;
    width : 15vh ;
    font-size: 1.2rem ;
	bottom : 3vh ;
}

.check:first-of-type {
	left:28% ;
	transform : translateX(-50%) ;
}
.check:last-of-type {
    text-align : center ;
	left:72% ;
	transform : translateX(-50%) ;
}




@keyframes shake {
    0%  {transform : scale(1 , 1) ; }
    33% {transform : scale(1 , 1.2) ; }
    66% {transform : scale(1.2 , 1) ; } 
    to {transform : scale(1 , 1) ; } 
}
