.contain {
    position : absolute ;
    top : 0px ;
    width : 100vw ;
    height : 100vh ; 

}

.board {
    position : relative ;
    box-sizing : border-box ;
    padding : 3vw ;
    padding-bottom : 5vw ;
    border : 2px  ;
    border-radius : 3vw ;
    top : 50% ;
    transform : translateY(-50%) ;
    width : 80vw ;
    
    max-height : 80vh ;
    margin : 0 auto ;
    background : rgba(0,0,0,0.8) ;
    text-align : center ;
    font-size : 2rem ;
    font-family: arial;
    color : rgb(255,255,255) ;
    overflow : auto ;
}

.board p {
    text-indent : 2em ;
}

.shadow {
    background : #333333 ;
    opacity : 0.5 ;
}
