.contain {
    position : absolute ;
    top : 0px ;
    width : 100vw ;
    height : 100vh ; 

}

.board {
    position : relative ;
    border : 2px solid red ;
    border-radius : 3vw ;
    top : 50% ;
    transform : translateY(-50%) ;
    width : 50vw ;
    height : 50vh ; 
    margin : 0 auto ;
    background : rgba(0,0,0,0.7) ;
}
