body {
  height: 100vh;
  width: 100vw;
  background: url("bg.svg");
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#whale{
  width: 40vw ;
  position : relative ;
  top : 7vw ;
  right : -90vw ;
}

html {
  font-size: 65% ;
}

#page_name {
  width: 60vw;
  height: 7vh;
  font: 7vh arial;
  /*height: 5vw;*/
  color: white;
  text-align: center;
  position: fixed;
  top: -3vh;
  left: 20vw;
  z-index:2;
  
}

#arrow {
  position: absolute;
  top: 1vh;
  left: -10vw;
  width: 4vh;
  /*height: 7vh;*/
  z-index:2;

}

#intro {
  position: absolute;
  top: 1vh;
  right: -10vw;
  width: 6vh;
  z-index:2;
  /*height: 7vh;*/

}
