body {
    height: 100vh;
    width: 100vw;
    background: url("bg.svg");
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
#whale{
    width: 40vw ;
    position : relative ;
    top : 7vw ;
    right : -90vw ;
}


