body {
  background: url("bg.svg");
  position: relative;
  position: middle;
  background-size: 100vw;
  background-repeat: no-repeat;
  overflow: hidden;
}
#whale{
  width:54.3px;
  height:32.9px;
}

