body {
  background: url("bg.svg");
  position: relative;
  position: middle;
  background-size: 100vw;
  background-repeat: no-repeat;
  overflow: hidden;
}
#whale{
  width:325.8px;
  height:197.4px;
}

